body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    max-width: 336px;
    margin: 0 auto;
}

.main {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    height: 500px;
    max-width: 336px;
    justify-content: center;
    margin-top: 20vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    box-shadow: 1px 1px 20px 10px #d1dce8;
}

.imgqrcode{ max-width: 300px; margin-bottom: 20px; border-radius: 5%;}

.text { text-align: center; width: 263px;}
    .text ul { display:flex; flex-direction: column; gap: 20px; margin: 0;}
    .title { font-size: 23px; font-weight: 700; color: hsl(218, 44%, 22%);}
    .subtitle { font-size: 15px; font-weight: 400; color: hsl(220, 15%, 55%);}

.attribution { font-size: 11px; text-align: center; margin-top: 10px;}
    .attribution a { color: hsl(228, 45%, 44%); }